<h3>Post Form</h3>

#<%= form_tag post_path(@post), method: "put" do %>
<%= form_for(@post) do |t| %>
  <label>Post title:</label><br>
  #<%= text_field_tag :title, @post.title %><br>
  <%= t.text_field :title%><br>

  <label>Post Description</label><br>
  #<%= text_area_tag :description, @post.description %><br>
  <%= t.text_area :description %><br>

  <%= submit_tag "Submit Post" %>
  <%= t.submit %>
<% end %>
<% end %>
